@import "../../scss/main-scss";

@media screen and (min-width: 320px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px){
    .header_container{
        width: 100%;
        height: 79vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $primary_clr;
        & .header_titles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            width: 40%;
            height: 90%;

            & .satisfiedCustomerSection{
                width: 40%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 2px solid $third_clr;
                background-color: $third_clr;
                padding: 0 1rem;
                border-radius: 5rem;
                & img{
                    width: 2rem;
                    border: 2px solid $secondary_clr;
                    border-radius: 5rem;
                    padding: 0.2rem;
                }
                & p{
                    padding-left: 1rem;
                    font-size: 1.2rem;
                    font-weight: 400;

                    color: $secondary_clr;
                }
            }

            & h1{
                margin-top: -1rem;
                font-size: 4.5rem;
                color: $secondary_clr;
            }

            & p{
                font-size: 1.2rem;
                width: 70%;
                color: $secondary_clr;
            }
            & button{
                margin-top: 2rem;
                background-color: $btn_color;
                border: none;
                width: 30%;
                height: 3rem;
                border-radius: 1rem;
                color: $secondary_clr;
                font-size: 1rem;
            }
        }
        & .header_image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            & img{
                width: 35rem;
                border-radius: 2rem;
            }
        }
    }

    .socialMedia{
        display: flex;
        flex-direction: row;
        justify-content: right;
        // padding-right: 5rem;
        align-items: center;
        width: 100%;
        height: 3rem;
        padding: 1rem 5rem 3rem 0;
        gap: 1.5rem;
        float: right;
        background-color: $primary_clr;
        & img{
            width: 1.7rem;
            border-radius: 5rem;
            padding: 0.7rem;
            background-color: $third_clr;
        }
        
    }

    .planning_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40vh;

        & .plan_box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 10rem;
            gap: 1.5rem;
            & img{
                margin-bottom: 2rem;
                width: 1.5rem;
                border-radius: 5rem;
                padding: 1rem;
            }
            & .icon-1{
                background-color: $third_clr; 
            }
            & .icon-2{
                background-color: $green_clr; 
            }
            & .icon-3{
                background-color: $primary_clr; 
            }
            & .plan_titles{
                display: flex;
                flex-direction: column;
                width: 70%;
                gap: 0.5rem;
                & h2{
                    font-size: 2rem;
                    font-weight: 700;
                }
                & p{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .grow_text{
        display: flex;
        justify-content: center;
        align-items: center;
        & h1{
            font-size: 3rem;
        }
    }

    .services_container{
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 50vh;
         gap: 2rem;

         & .service_fullbox{
            height: 15rem;
            width: 25rem;
            border-radius: 0.5rem;
            & .mainicon{
                position: absolute;
                padding-left: 12rem;
                width: 12rem;
            }
            & .designing_boxicon{
                padding: 2rem;
                width: 7rem;
            }
            & p{
                border-radius: 0.5rem;
                width: 45%;
                text-align: center;
                padding: 0.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: $secondary_clr;

            }
         }
    }

    .phara_container{
        width: 100%;
        height: 50vh;
        border: 1px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10rem;
        align-items: center;
        background-color: $primary_clr;
        & h2{
            // padding-left: 10rem;
            width: 40%;
            font-size: 2.5rem;
            text-align: left;
            color: $secondary_clr;
        }
        & img{
            width: 15rem;
        }
    }

    .product_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
        align-items: center;
        width: 100%;
        height: 100vh;

        & .product_img{
            & img{
                width: 35rem;
            }
        } 

        & .product_details{
            display: flex;
            flex-direction: column;
            & p{
                font-size: 1.5rem;
            }
            & h1{
                width: 25rem;
                font-size: 4.5rem;
            }
            & .lists_services{
                margin-top: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                & img{
                    width: 2rem;
                    background-color: $primary_clr;
                    border-radius: 1.5rem;
                    padding: 0.2rem;
                }
                & p{
                    font-size: 1.5rem;
                }
            }
            & .btn_about{
                margin-top: 2rem;
                width: 10rem;
                height: 3rem;
                border: none;
                border-radius: 0.5rem;
                font-size: 1.3rem;
                color: $secondary_clr;
            }
        }
    }

    .counter_container{
        width: 100%;
        height: 50vh;
        background-color: $primary_clr;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 13rem;
        & .countsection{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            & img{
                width: 2.5rem;
                background-color: $third_clr;
                padding: 1.5rem;
                border-radius: 5rem;
            
            }
            & h1{
                font-size: 3rem;
                font-weight: 700;
                color: $secondary_clr;
            }
            & p{
                font-size: 1.5rem;
                color: $secondary_clr;
            }
        }
    }

    .cases_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 100vh;

        & p{
            font-size: 1.5rem;
        }
        & .textp{
            font-size: 1.3rem;
            font-weight: 300;
        }
        & h1{
            font-size: 4rem;
            width: 40rem;
            text-align: center;
        }

        & .cases_boxsection{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            & .case_section{
                & img{
                    width: 25rem;
                    border-radius: 1rem;                  
                }
                & p{
                    font-size: 2rem;
                }
            }
        }
    }
}